<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>

<div class="container">
    <h1>Register for Homigo</h1>
    <div class="form-container">
        <form method="post">
            <label for="name">Name + Surname</label>
            <input type="text" id="name" name="name" placeholder="Your name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Your Email" required>

            <label for="phone">Password</label>
            <input type="tel" id="password" name="password" placeholder="Your Password" required>


            <button type="submit">Register</button>
        </form>
        </div>
    </div>
{% if error %}
<div class="error-message" style="color:red;">{{ error }}</div>
{% endif %}
if you already have an account, please click<a href = login>here </a>
</body>
</html>